# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.fnuwlnj.mongodb.net/
DB_NAME=kogofox_arena

# Server Port
PORT=5173

# Game ID Verification API
GAME_CHECKER_API_KEY=YOUR_API_KEY
GAME_CHECKER_API_URL=https://api.example-game-checker.com/v1/verify
