# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.fnuwlnj.mongodb.net/
DB_NAME=kugofox_arena

# Server Port
PORT=5173

# Game ID Verification API
GAME_CHECKER_API_KEY=YOUR_API_KEY
GAME_CHECKER_API_URL=https://api.example-game-checker.com/v1/verify

# Admin Security Config
ADMIN_EMAILS=rpmohit9@gmail.com,mkgsani9@gmail.com
ADMIN_PASSWORD=kugofox13
